body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainView {
  background: url("../images/till-daling-syXAm1k9Sts-unsplash.jpg") center;
  /* background-color: red; */
  background-size: cover;
}

.rightView {
  background-color: slategray;
}